.law_wrap .header {
    transition: opacity 0.5s;
    opacity: 0;
}
.law_wrap header.fadeIn {
    opacity: 1;
}

.law_wrap .m_floating_btn {
    transition: opacity 0.5s;
    opacity: 0;
}
.law_wrap .m_floating_btn.fadeIn {
    opacity: 1;
}



.law_wrap .inner_1580 {
    width: calc(100% - 50px);
}
.law_wrap .inner_1200 {
    width: calc(100% - 50px);    
}


.foot_bottom {
    position: relative;
}

.law_wrap .left_text_fixed.absol {
    position: absolute;
    left: 40px;
    bottom: calc(100% + 40px );
}
.law_wrap .join_btn {
}
.law_wrap .join_btn.absol {
    position: absolute;
    right: 0;
    bottom: calc(100% + 23px );
}



/*sec01*/
.dotted_line {
    width: 100%;
    height: 2px;
    background: url('../images/dotted.png') repeat-x center;
}
.law_wrap .sec01 .sec01_cont_box .cont_list .cont_txt {
    box-shadow: 0px 15px 23px 2px rgba(41, 47, 29, 0.21);
}
.law_wrap .sec01 .sec01_cont_box .cont_list .cont_txt p {
    word-wrap: keep-all;
}




/* sec02 */
.law_wrap .sec02 .text_slide {
    top: 45px;
}





/* sec05 */
.law_wrap .sec05 .sec05_cont_box .cont_list {
    margin-bottom: 80px;
}
.law_wrap .sec05 .sec05_cont_box .cont_list:last-child {
    margin-bottom: 0;
}
